/* animation */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}

.loading {
  width: 64px;
  height: 64px;
  position: absolute;
  background-color: transparent;
  border: 6px solid white;
  border-bottom: 6px solid transparent;
  border-radius: 50%;
  animation: rotate 1s ease-in-out infinite;
}
